<% content_for :header_class, 'full-background' %>
<% content_for :hero_class, 'no-bg' %>
<% content_for :hero_size, 'hero-medium' %>
<% content_for :hero_title, "Welcome to Hacienda del Mar".html_safe %>
<% content_for :lede, "Private and Quiet Escape in Las Conchas".html_safe %>

<section class="scallop-top top-padding-by-3 main-content light-grey-bg-color">
    <div class="layout-container layout-centered">
        <div class="property-search margin-top-by-28 margin-bottom-by-20 welcome-text-align-for-smaller">
            <form class='gw no-gutter'>
                <fieldset class="g sm-one-whole md-five-twelfths">
                    <label class="is-visually-hidden">Rooms</label>
                    <div class="select-style">
                        <select name="id" id="select-drop" value="">
                            <option disabled selected class="drop-options" >Rooms</option>
                            <option id="HCNDA" value="1911-89478" class="drop-options" >Any</option>
                            <option id="HCNDA" value="1911-89478" class="drop-options" >Entire Complex</option>
                            <option id="HPLCN" value="1911-89481" class="drop-options">El Pelicano</option>
                            <option id="HSALA" value="1911-89483" class="drop-options">La Sala</option>
                            <option id="HPLMA" value="1911-89482" class="drop-options">La Paloma</option>
                            <option id="HCHUP" value="1911-89477" class="drop-options">La Chuparosa</option>
                            <option id="HCRT1" value="1911-89479" class="drop-options">Courtyard 1</option>
                            <option id="HCRT2" value="1911-89480" class="drop-options">Courtyard 2</option>
                            <option id="HAGUI" value="1911-112148" class="drop-options">La Aguila</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="g sm-one-third md-one-seventh">
                    <input id="start_date" readonly="readonly" class="no-borders datepicker arrival-date" type="text" name="start_date" placeholder="Arrive" autocomplete="off">
                </fieldset>
                <fieldset class="g sm-one-third md-one-seventh">
                    <input id="end_date" readonly="readonly" class="no-borders datepicker depart-date" type="text" name="end_date" placeholder="Depart" autocomplete="off">
                </fieldset>
                <fieldset class="g sm-one-fourth md-one-eighth text-align-right">
                    <label class="is-visually-hidden" for="guests">Guests</label>
                    <div class="select-style">
                        <select name="guests" id="guests">
                            <option disabled selected>Guests</option>
                            <option value="all">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </fieldset>
                <footer class="g md-two-twelfths">
                  <input class="btn btn--brown no-min-width max-width search-btn" type="button" value="Search">
                </footer>
            </form>
        </div>
    </div>
</section>
<section class="light-grey-bg-color">
  <div class="layout-container margin-0 padding-right-20-px">
    <h1 class="after-heading-underline text-align-center font-family-open-sans">The Rooms We Offer</h1>
    <div class="md-one-whole sm-one-whole lg-one-whole left-padding-by-5 slider5">
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/5665740489.jpg" width="100%">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>Courtyard 1</h1>
            <p class="color-light-grey">Courtyard 1 is a room located at Hacienda del Mar. Courtyard 1 sleeps 2 people. It has a queen size bed, private bath, heat, AC, ceiling fan, and access to a common sitting room. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89479?start_date=&end_date=&guests="><span class="margin-top-book-now italic-brown-color float-right margin-right-by-2 text-larger">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/6630860531.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Chuparosa</h1>
            <p class="color-light-grey">La Chuparosa is a room located at Hacienda del Mar. La Chuparosa sleeps 2 people and is beautifully designed with boveda ceilings and fireplace. It has a queen size bed, private bath, heat, AC, ceiling fan, and outside veranda sitting area. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89477?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/6039020158.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Aguila</h1>
            <p class="color-light-grey">Aguila is a one bedroom, one bath Casita for 2, The Bedroom with panoramic views has a queen size bed, full private bath with tub, there is a fully equipped kitchen including dishwasher, coffee maker, blender, microwave. This beautiful casita is the main quarters of the house and it includes a beautiful Mexican style kitchen bar with Mexican decorated bar-stools a dining table for 4, two Flat screen TV's with DirecTV box in each room, brand new A/C and Heat.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-112148?start_date=&end_date=&guests="><span class="margin-top-book-now italic-brown-color float-right margin-right-by-2 text-larger">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/7147550489.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>Courtyard 2</h1>
            <p class="color-light-grey">
              Courtyard 2 is a room located at Hacienda del Mar . See below for more information about the complex. Courtyard 2 sleeps 2 people. It has a queen size bed, private bath, heat, AC, ceiling fan, and access to a common sitting room. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89480?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/8702230763.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>El Pelicano</h1>
            <p class="color-light-grey">
              Pelicano is a one bedroom one bath guesthouse that sleeps up to 3. The bedroom has a queen size bed; the living room has a fireplace and single roll-away bed. The fully equipped kitchen includes a coffee maker, blender, microwave and dishwasher. Other amenities include heat, AC and ceiling fans. Rates are for 1-2 persons, $10 additional per extra person Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas.</p>
            <span class="italic-light-color text-larger bg-white">From $350/night</span>
            <a href="/accommodations/1911-89481?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/1613760763.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Sala</h1>
            <p class="color-light-grey">
              La Sala is a second-story studio. It Sleeps 2 people. It has a queen size bed an a couch. La Sala has a kitchenette and kitchen appliances including coffee maker, microwave, and refrigerator. Other amenities include; fireplace, boveda ceiling, heat, AC, ceiling fans, and outside veranda sitting area. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.</p>
            <span class="italic-light-color text-larger bg-white">From $400/night</span>
            <a href="/accommodations/1911-89483?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="md-four-twelfths sm-four-twelfths lg-four-twelfths float-left">
        <div class="width-361-px text-align-left slider-margin">
          <img alt="" src="https://pictures.escapia.com/OCEANO/6382770396.jpg">
          <div class="padding-left-by-2 top-padding-by-1">
            <h1>La Paloma</h1>
            <p class="color-light-grey">
              La Paloma is a room located at Hacienda del Mar. It sleeps 2 people and is beautifully designed with boveda ceilings and fireplace. It has a queen size bed, private bath, heat, AC, ceiling fan, and outside veranda sitting area. Hacienda del Mar is a seven-unit hacienda style home. Rooms can be rented individually or in any combination to accommodate groups up to 15 people. Each room, or unit, has been given a name, and each has a painted ceramic "name-tile" mounted by the door to keep everyone oriented.</p>
            <span class="italic-light-color text-larger bg-white">From $450/night</span>
            <a href="/accommodations/1911-89482?start_date=&end_date=&guests=all"><span class="italic-brown-color float-right margin-right-by-2 text-larger margin-top-book-now">Book Now <i class="fa fa-long-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="top-padding-by-5 bottom-padding-by-5">
  <div class="layout-container margin-0 ">
    <div class="one-whole">
      <h1 class="after-heading-underline font-family-open-sans">What Our Guests Says</h1>
    </div>
    <div class="one-whole">
      <div class="content md-one-half float-left font-family-open-sans">
        <div class="md-two-twelfths float-left testimonial-image">
          <%= image_tag "testimonial-comment.png", :class => "" %>
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">Rental was clean and well furnished.  We were just where we wanted to be...right on the beach.</p>
          <div class="one-whole float-left"><span class="bolded-left-text margin-bottom-20">Janice Lucero</span></div>
        </div>
      </div>
      <div class="content md-one-half float-left font-family-open-sans">
        <div class="md-two-twelfths float-left testimonial-image">
          <%= image_tag "testimonial-comment.png", :class => "" %>
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">Buena estancia, la casa estaba muy limpia y sin ningún problema de servicio, esta diseñada para grupos individuales, tiene múltiples cocinas y areas.
          </p>
          <div class="one-whole float-left"><span class="bolded-left-text margin-bottom-20">Raul Villalva</span></div>
        </div>
      </div>
    </div>
    <div class="one-whole padding-top-15">
      <div class="content float-left font-family-open-sans">
        <div class="width-14 float-left testimonial-image ">
          <%= image_tag "testimonial-comment.png", :class => "" %>
        </div>
        <div class="content md-ten-twelfths float-left">
          <p class="align-left margin-top-0 color-light-grey">I was very pleased with our stay at Hacienda Del Mar. It's very close to the beach. Less then a two minute walk. The AC units are very cold. Turn them on and is 15 mins the rooms are cool. The property is very private so you can relax outside and take in the sea breeze. I read other reviews and I'm glad I choose to experience it for myself. I would definitely stay here again in the future.
          </p>
          <div class="one-whole float-left"><span class="bolded-left-text margin-bottom-20">Leo Madrid</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="memories-img top-padding-by-5 bottom-padding-by-5">
  <div class="layout-container margin-0">
    <div class="one-whole">
    <div class="content md-one-half float-left font-family-open-sans">
      <h1 class="after-heading-underline font-family-open-sans">Memories From Hacienda del Mar</h1><p class="g-memories-desc font-family-open-sans">Nice quiet location (even during Spring break). Great porch to sit out, also a nice, small indoor common area w/c  TV, couches, bathroom and even cereal and milk for guests. Not a coffee drinker but noticed that was available too. Also nice outside area with picnic tables. It's very close to the beach. Less then a two minute walk. The AC units are very cold. Turn them on and is 15 mins the rooms are cool. The property is very private so you can relax outside and take in the sea breeze.</p></div>
    <div class="content md-one-half float-left left-padding-by-5">
      <div class="content one-half float-left">
        <%= image_tag "hacienda-colg-1.jpg", :class => "tilt-image-by-7 img-border-5px" %>
      </div>
      <div class="content one-half float-left">
        <%= image_tag "hacienda-colg-2.jpg", :class => "tilt-image-by-minus-10 img-border-5px" %>
      </div>
      <div class="content one-half float-left">
        <%= image_tag "hacienda-colg-3.JPG", :class => "tilt-image-by-minus-16 img-border-5px" %>
      </div>
      <div class="content one-half float-left">
        <%= image_tag "hacienda-colg-4.JPG", :class => "tilt-image-by-13 img-border-5px" %>
      </div>
    </div>
    </div>
  </div>
</section>
