<% content_for :header_class, 'thankyou_page_content' %>
<% content_for :hero_title, "BOOKING".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<div class="section-divider rent-thankyou-divider">
  <img src="assets/vacation-summary.png">
</div>
<div class="section-divider rent-thankyou-divider">
  <span class="thank-you-span">RATE DETAILS </span><span>  |  </span><span class="rent-details-span"> THANK YOU</span>
</div>
<section id="visitors-help" class="scallop-top beige-bg thankyou-page-content-section booking-form-section" xmlns="http://www.w3.org/1999/html">
  <div class="layout-container">
    <div class="col-sm-8">
      <div class="page-breadcomb-text">REVIEW BOOKING DETAILS, RATE DETAILS & RENTAL POLICIES</div>
      <div class="booking-receipt-details table-responsive">
        <%= form_tag thank_you_path, class:'booking_form' do %>
          <div class="col-md-12 booking-receipt-headings common-font-20 sandcastle-bold">YOUR INFORMATION</div>
          <div class="col-md-12">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">FIRST NAME</label>
            </div>
            <div class="text-box-main-div">
              <label class="common-font-10 sandcastle-text-color">LAST NAME</label>
            </div>
          </div>
          <div class="col-md-12 ">
            <div class="text-box-main-div margin-right-4-and-half-per">
              <%= text_field_tag 'first_name', nil, class: 'booking-form-short-text-box-height', :required => true%>
            </div>
            <div class="text-box-main-div">
              <%= text_field_tag 'last_name', nil, class: 'booking-form-short-text-box-height', :required => true%>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">EMAIL</label>
            </div>
            <div class="text-box-main-div">
              <label class="common-font-10 sandcastle-text-color">CONFIRM EMAIL</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-box-main-div margin-right-4-and-half-per">
              <%= text_field_tag 'email', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
            <div class="text-box-main-div">
              <%= text_field_tag 'confirm_email', nil, class: 'booking-form-short-text-box-height' %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">CONTACT PHONE (FOR BOOKING)</label>
            </div>
            <div class="text-box-main-div">
              <label class="common-font-10 sandcastle-text-color">MOBILE PHONE (FOR TRIP)</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-box-main-div margin-right-4-and-half-per">
              <%= text_field_tag 'phone_no', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
            <div class="text-box-main-div">
              <%= text_field_tag 'mobile_no', nil, class: 'booking-form-short-text-box-height' %>
            </div>
          </div>

          <div class="col-md-12 booking-receipt-headings common-font-20 sandcastle-bold">MAILING ADDRESS</div>
          <div class="col-md-12">
            <div class="">
              <label class="common-font-10 sandcastle-text-color">ADDRESS 1</label>
            </div>
            <div class="">
              <%= text_field_tag 'address_primary', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class="">
              <label class="common-font-10 sandcastle-text-color">ADDRESS 2</label>
            </div>
            <div class="">
              <%= text_field_tag 'address_secondary', nil, class: 'booking-form-short-text-box-height' %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">COUNTRY</label>
            </div>
            <div class="text-box-main-div">
              <label class="common-font-10 sandcastle-text-color">STATE/PROVIDENCE</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-box-main-div margin-right-4-and-half-per">
              <%= text_field_tag 'country', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
            <div class="text-box-main-div">
              <%= text_field_tag 'state', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">ZIP</label>
            </div>
            <div class="text-box-main-div">
              <label class="common-font-10 sandcastle-text-color">CITY</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-box-main-div margin-right-4-and-half-per">
              <%= text_field_tag 'zip', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
            <div class="text-box-main-div">
              <%= text_field_tag 'city', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4 checkbox">
            <input class="float-left input-assumpte" id="input-confidencial" type="checkbox"/>
            <label for="input-confidencial"></label>
            <p class="rental-polciy-text sandcastle-text-color">USE MAILING ADDRESS FOR BILING ADDRESS</p>
          </div>
          <div class="col-md-12 booking-receipt-headings common-font-20 col-md-12 sandcastle-bold">PAYMENT METHOD</div>
          <div class="col-md-12 margin-top-4">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">CARD TYPE</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-box-main-div margin-right-4-and-half-per">
              <%= select_tag "payment_type", options_for_select([ "VISA", "MASTER","DISCOVER" ]), { :include_blank => '', :required => true, :class => "booking-form-short-text-box-height common-font-10 sandcastle-text-color"} %>
            </div>
            <div class="float-left text-box-main-div margin-right-4-and-half-per card_type_block">
              <span class="visa-card-img common-payment-images"></span>
              <span class="master-card-img common-payment-images"></span>
              <span class="discover-card-img common-payment-images"></span>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class=""><label class="common-font-10 sandcastle-text-color">CARD NUMBER</label></div>
            <div class="">
              <%= text_field_tag 'card_number', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4">
            <div class="float-left text-box-main-div margin-right-4-and-half-per">
              <label class="common-font-10 sandcastle-text-color">EXPIRATION DATE</label>
            </div>
            <div class="float-left text-box-main-div cvc-main-container">
              <label class="common-font-10 sandcastle-text-color">CVC <span class="sandcastle-color-blue">(<i class="fa fa-question"></i>)</span></label>
            </div>
          </div>
          <div class="col-md-12 flex-block">
            <div class="select-block">
              <%= select_tag "YEAR", options_for_select([ "2016", "2015","2014" ]), { :include_blank => 'YEAR', :required => true, :class => "float-left expiration-selection-list common-font-10 sandcastle-text-color"} %>
            </div>
            <div class="select-block">
              <%= select_tag "MONTH", options_for_select([ "JAN", "FEB","MAR","APR","JUNE","JUL","AUG","SEPT","OCT","NOV","DEC" ]), { :include_blank => 'MONTH',:required => true, :class => "float-left expiration-selection-list common-font-10 sandcastle-text-color"} %>
            </div>
            <div class="select-block float-left width-26">
              <%= text_field_tag 'cvc', nil, class: 'booking-form-short-text-box-height', :required => true %>
            </div>
          </div>
          <div class="col-md-12 margin-top-4"><label class="sandcastle-text-color common-font-10">READ AND ACCEPT RENTAL POLICIES AGREEMENT</label></div>
          <div class="col-md-12">
            <%= text_area_tag 'description', "", disabled: false, :class=>"col-md-12 col-sm-12" %>
          </div>
          <div class="col-md-12 margin-top-4 check-policy">
            <input id ="accept_policy" class="float-left" type="checkbox"/>
            <p class="rental-polciy-text common-font-10">I HAVE READ AND ACCEPT THE ABOVE RENTAL POLICIES AGREEMENT</p>
          </div>
          <div class="col-md-12 booking-receipt-headings common-font-20 sandcastle-bold">REVIEW AND BOOK YOUR TRIP</div>
          <div class="col-md-12"><p class="common-font-10"></p></div>
          <%= hidden_field_tag 'unit_image', @booked_unit.first['descriptions']['images'][0]['formats'][2]['url'] if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_name', @booked_unit.first['name'] if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_city', @booked_unit.first['address']['city'] if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_country', @booked_unit.first['address']['country'] if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_stay', @length_of_stay if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_start', @date_start if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_end', @date_end %>
          <%= hidden_field_tag 'unit_type', @booked_unit.first['type'] if !@booked_unit.blank? %>
          <%= hidden_field_tag 'unit_amount', @base_amount if !@base_amount.blank? %>
          <%= hidden_field_tag 'unit_fees_name1', @fees.first.name if !@fees.blank? %>
          <%= hidden_field_tag 'unit_fees_fee1', @fees.first.amount if !@fees.blank? %>
          <%= hidden_field_tag 'unit_fees_name2', @fees.last.name if !@fees.blank? %>
          <%= hidden_field_tag 'unit_fees_fee2', @fees.last.amount if !@fees.blank? %>
          <%= hidden_field_tag 'tax', @tax_amount if !@tax_amount.blank? %>
          <%= hidden_field_tag 'total', @total_amount if !@total_amount.blank? %>
          <%= submit_tag "COMPLETE BOOKING", :id => "btn-book-complete", :class => "margin-top-4 btn btn-info btn-lg btn--blue" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 float-left white-background receipt-payment-section">
      <div class="receipt-booking-details-section">
        <div class="room-image"><img src="<%= @booked_unit.first['descriptions']['images'][0]['formats'][2]['url'] %>"></div>
        <div class="room-details-block">

          <div class="sandcastle-text-capitalization sandcastle-bold common-font-14"><%= truncate(@booked_unit.first['name'], :length => 25) %></div>

          <div class="common-font-11 sandcastle-text-color"><%= @booked_unit.first['address']['city'] %>, <%= @booked_unit.first['address']['country']%></div>

          <div class="map-link"><a class="thankyou-view-map-link sandcastle-text-color common-font-11 text-uppercase" href="/maps">View Map</a></div>

        </div>
      </div>
      <div class="line-separator"></div>
      <div class="hotel-stay-duration common-font-14"><span class="stay-duration-span sandcastle-color-blue"><i class="fa fa-clock-o common-font-12" aria-hidden="true"></i> <%= @length_of_stay %> NIGHTS </span><%= @date_start%> / <%= @date_end%></div>
      <div class="line-separator"></div>
      <% if @unit_availability != false %>
        <div class="panel panel-default hotel-details-panel">
          <div class="panel-heading sandcastle-text-capitalization">
            <div class="sandcastle-bold thankyou-common-div common-font-16">Details</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <tbody>
                <tr>
                  <td class="sandcastle-text-capitalization common-font-12 sandcastle-color-blue">Type</td>
                  <td class="text-right common-font-12 text-uppercase"><%= @booked_unit.first['type'] %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12">Rent</td>
                  <td class="text-right common-font-12">$<%= @base_amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12"><%= @fees.first.name %></td>
                  <td class="text-right common-font-12">$<%= @fees.first.amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12"><%= @fees.last.name %></td>
                  <td class="text-right common-font-12">$<%= @fees.last.amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12">TAX</td>
                  <td class="text-right common-font-12">$<%= @tax_amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-text-capitalization sandcastle-bold common-font-16 th-price">Total Price</td>
                  <td class="text-right sandcastle-bold total-price-number total-price-common td-price"><span class="common-font-24"><%= @total_amount %></span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% else %>
        <div class="panel panel-default hotel-details-panel">
          <div class="panel-heading sandcastle-text-capitalization">
            <div class="sandcastle-bold thankyou-common-div common-font-12 property_status">This property is unavailable for the chosen dates.</div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 want-to-chat-container margin-top-4">
      <div class="form-group">
        <label class="want-to-chat-header text-uppercase">Need Help?</label>
      </div>
      <div class="checkbox">
        <i class="fa fa-phone" aria-hidden="true"></i><label> (888) 328-841</label>
      </div>
      <div class="checkbox">
        <i class="fa fa-envelope-o" aria-hidden="true"></i><label> info@gooceano.com</label>
      </div>
    </div>
  </div>
  <div class="first-section-divider"></div>
</section>