<% content_for :header_class, 'thankyou_page_content' %>
<% content_for :hero_title, "BOOKING".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<div class="section-divider rent-thankyou-divider">
  <img src="assets/vacation-summary.png">
</div>
<div class="section-divider rent-thankyou-divider">
  <span class="thank-you-span">RATE DETAILS </span><span>  |  </span><span class="rent-details-span"> THANK YOU</span>
</div>
<section id="visitors-help" class="scallop-top beige-bg thankyou-page-content-section booking-form-section" xmlns="http://www.w3.org/1999/html">
  <div class="layout-container">
    <div class="col-sm-8">
      <div class="page-breadcomb-text">REVIEW BOOKING DETAILS, RATE DETAILS & RENTAL POLICIES</div>
      <div class="booking-receipt-details table-responsive">
        <div class="col-md-12 booking-receipt-headings common-font-20 sandcastle-bold">YOUR INFORMATION</div>
        <div class="col-md-12">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">FIRST NAME</label></div>
          <div class="text-box-main-div"><label class="common-font-10 sandcastle-text-color">LAST NAME</label></div>
        </div>
        <div class="col-md-12 ">
          <div class="text-box-main-div margin-right-4-and-half-per"><input class="booking-form-short-text-box-height" type="text" /></div>
          <div class="text-box-main-div"><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">EMAIL</label></div>
          <div class="text-box-main-div"><label class="common-font-10 sandcastle-text-color">CONFIRM EMAIL</label></div>
        </div>
        <div class="col-md-12">
          <div class="text-box-main-div margin-right-4-and-half-per"><input class="booking-form-short-text-box-height" type="text" /></div>
          <div class="text-box-main-div"><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">CONTACT PHONE (FOR BOOKING)</label></div>
          <div class="text-box-main-div"><label class="common-font-10 sandcastle-text-color">MOBILE PHONE (FOR TRIP)</label></div>
        </div>
        <div class="col-md-12">
          <div class="text-box-main-div margin-right-4-and-half-per"><input class="booking-form-short-text-box-height" type="text" /></div>
          <div class="text-box-main-div"><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>

        <div class="col-md-12 booking-receipt-headings common-font-20 sandcastle-bold">MAILING ADDRESS</div>
        <div class="col-md-12">
          <div class=""><label class="common-font-10 sandcastle-text-color">ADDRESS 1</label></div>
          <div class=""><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class=""><label class="common-font-10 sandcastle-text-color">ADDRESS 2</label></div>
          <div class=""><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">COUNTRY</label></div>
          <div class="text-box-main-div"><label class="common-font-10 sandcastle-text-color">STATE/PROVIDENCE</label></div>
        </div>
        <div class="col-md-12">
          <div class="text-box-main-div margin-right-4-and-half-per"><input class="booking-form-short-text-box-height" type="text" /></div>
          <div class="text-box-main-div"><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">ZIP</label></div>
          <div class="text-box-main-div"><label class="common-font-10 sandcastle-text-color">CITY</label></div>
        </div>
        <div class="col-md-12">
          <div class="text-box-main-div margin-right-4-and-half-per"><input class="booking-form-short-text-box-height" type="text" /></div>
          <div class="text-box-main-div"><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4 checkbox"><input class="float-left input-assumpte" id="input-confidencial" type="checkbox"/><label for="input-confidencial"></label><p class="rental-polciy-text sandcastle-text-color">USE MAILING ADDRESS FOR BILING ADDRESS</p></div>

        <div class="col-md-12 booking-receipt-headings common-font-20 col-md-12 sandcastle-bold">PAYMENT METHOD</div>
        <div class="col-md-12 margin-top-4">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">CARD TYPE</label></div>
        </div>
        <div class="col-md-12">
          <div class="text-box-main-div margin-right-4-and-half-per">
            <select name="id" id="" value="" class="booking-form-short-text-box-height common-font-10 sandcastle-text-color">
              <option selected="" class="drop-options"></option>
              <option value="1" class="drop-options">VISA</option>
              <option value="2" class="drop-options">MASTER</option>
              <option value="2" class="drop-options">DISCOVER</option>
            </select>
          </div>
          <div class="float-left text-box-main-div margin-right-4-and-half-per">
            <span class="visa-card-img common-payment-images"></span>
            <span class="master-card-img common-payment-images"></span>
            <span class="discover-card-img common-payment-images"></span>
          </div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class=""><label class="common-font-10 sandcastle-text-color">CARD NUMBER</label></div>
          <div class=""><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4">
          <div class="float-left text-box-main-div margin-right-4-and-half-per"><label class="common-font-10 sandcastle-text-color">EXPIRATION DATE</label></div>
          <div class="float-left text-box-main-div cvc-main-container"><label class="common-font-10 sandcastle-text-color">CVC <span class="sandcastle-color-blue">(<i class="fa fa-question"></i>)</span></label></div>
        </div>
        <div class="col-md-12">
          <select name="id" id="" value="" class="float-left expiration-selection-list common-font-10 sandcastle-text-color">
            <option selected="YEAR" class="drop-options">YEAR</option>
            <option value="2016" class="drop-options">2016</option>
            <option value="2015" class="drop-options">2015</option>
            <option value="2014" class="drop-options">2014</option>
          </select>
          <select name="id" id="" value="" class="float-left expiration-selection-list common-font-10 sandcastle-text-color">
            <option selected="MONTH" class="drop-options">MONTH</option>
            <option value="JAN" class="drop-options">JAN</option>
            <option value="FEB" class="drop-options">FEB</option>
            <option value="MAR" class="drop-options">MAR</option>
            <option value="MAR" class="drop-options">MAR</option>
            <option value="APR" class="drop-options">APR</option>
            <option value="JUNE" class="drop-options">JUNE</option>
            <option value="JUL" class="drop-options">JUL</option>
            <option value="AUG" class="drop-options">AUG</option>
            <option value="SEPT" class="drop-options">SEPT</option>
            <option value="OCT" class="drop-options">OCT</option>
            <option value="NOV" class="drop-options">NOV</option>
            <option value="DEC" class="drop-options">DEC</option>
          </select>
          <div class="float-left width-26"><input class="booking-form-short-text-box-height" type="text" /></div>
        </div>
        <div class="col-md-12 margin-top-4"><label class="sandcastle-text-color common-font-10">READ AND ACCEPT RENTAL POLICIES AGREEMENT</label></div>
        <div class="col-md-12">
          <textarea row="50" class="col-md-12 col-sm-12"></textarea>
        </div>
        <div class="col-md-12 margin-top-4"><input class="float-left" type="checkbox"/><p class="rental-polciy-text common-font-10">I HAVE READ AND ACCEPT THE ABOVE RENTAL POLICIES AGREEMENT</p></div>
        <div class="col-md-12 booking-receipt-headings common-font-20 sandcastle-bold">REVIEW AND BOOK YOUR TRIP</div>
        <div class="col-md-12"><p class="common-font-10">lorem ispm lorem ispm lorem ispm lorem ispm lorem ispm lorem ispm lorem ispm lorem ispm lorem ispm lorem ispm</p></div>
        <button type = "submit" class="margin-top-4 btn btn-info btn-lg btn--blue">COMPLETE BOOKING</button>
      </div>
    </div>

    <div class="col-md-4 float-left white-background">
      <div class="receipt-payment-section">
      </div>
      <div class="receipt-booking-details-section">
        <div class="thankyou-page-hotel-photo thankyou-common-div"><img src="<%= @booked_unit.first['descriptions']['images'][0]['formats'][2]['url'] %>"></div>
        <div class="thankyou-common-div sandcastle-text-capitalization sandcastle-bold common-font-14"><%= truncate(@booked_unit.first['name'], :length => 25) %></div>
        <div class="common-font-9"><%= @booked_unit.first['address']['city'] %>,<%= @booked_unit.first['address']['country']%></div>
        <div class=""><a class="thankyou-view-map-link sandcastle-text-color common-font-9" href="/maps">View Map</a></div>
      </div>
      <div class="line-separator"></div>
      <div class="thankyou-common-div hotel-stay-duration common-font-11"><span class="stay-duration-span sandcastle-color-blue"><i class="fa fa-clock-o common-font-12" aria-hidden="true"></i> <%= @length_of_stay %> NIGHTS </span><%= @date_start%>/<%= @date_end%></div>
      <div class="line-separator"></div>
      <% if @unit_availability != false %>
        <div class="panel panel-default hotel-details-panel">
          <div class="panel-heading sandcastle-text-capitalization">
            <div class="sandcastle-bold thankyou-common-div common-font-16">Details</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <tbody>
                <tr>
                  <td class="sandcastle-text-capitalization common-font-12 sandcastle-color-blue">Type</td>
                  <td class="text-right common-font-12"><%= @booked_unit.first['type'] %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12">Rent</td>
                  <td class="text-right common-font-12">$<%= @base_amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12"><%= @fees.first.name %></td>
                  <td class="text-right common-font-12">$<%= @fees.first.amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12"><%= @fees.last.name %></td>
                  <td class="text-right common-font-12">$<%= @fees.last.amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-color-blue sandcastle-text-capitalization common-font-12">TAX</td>
                  <td class="text-right common-font-12">$<%= @tax_amount %></td>
                </tr>
                <tr>
                  <td class="sandcastle-text-capitalization sandcastle-bold common-font-16 total-price-common">Total Price</td>
                  <td class="text-right sandcastle-bold total-price-number total-price-common"><span class="common-font-24"><%= @total_amount %></span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% else %>
        <div class="panel panel-default hotel-details-panel">
          <div class="panel-heading sandcastle-text-capitalization">
            <div class="sandcastle-bold thankyou-common-div common-font-12">This property is unavailable for the chosen dates.</div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 want-to-chat-container margin-top-4">
      <div class="form-group">
        <label class="want-to-chat-header">WANT TO CHAT?</label>
      </div>
      <div class="checkbox">
        <i class="fa fa-phone" aria-hidden="true"></i><label> (888) 328-841</label>
      </div>
      <div class="checkbox">
        <i class="fa fa-envelope-o" aria-hidden="true"></i><label> info@gooceano.com</label>
      </div>
    </div>
  </div>
  <div class="first-section-divider"></div>
</section>