<% content_for :header_class, 'room_details_page_content' %>
<% content_for :hero_title, "#{@unit_info['name']}".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<% content_for :below_hero_title, "#{@unit_info['address']['city']}".html_safe %>

<section id="room_details_main_section" class="scallop-top beige-bg room-details-page-content-section" xmlns="http://www.w3.org/1999/html">
  <div class="layout-container">
    <div class="col-sm-12">
      <div class="col-sm-10 hotel-price-room-people-details-main">
        <div class="col-sm-4 hotel-price-room-people-details common-font-27">$<%= @unit_info['stay_ranges'].first['price'] %></div>
        <div class="col-sm-8 hotel-rating-beds-people-main">
          <div class="col-sm-6">
        </div>
          <div class="col-sm-2">

            <span class="fa-stack fa-3x room-details-fontawesome-common">
              <i class="fa fa-bed fa-stack-2x"></i>
              <span class="fa-stack-1x room-number">
                <%= @unit_info['bedrooms'] %>
              </span>
            </span>
          </div>
          <div class="col-sm-2">
            <span class="fa-stack fa-3x room-details-fontawesome-common">
              <i class="fa fa-group fa-stack-2x"></i>
              <span class="fa-stack-1x room-number">
                <%= @unit_info['occupancy'] %>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-2 booking-button-main common-font-14 sandcastle-text-capitalization sandcastle-bold text-center">Book Now <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="col-sm-12 padd-zero">
        <div class="col-sm-9 room-details-about-main"><div class="common-font-20 sandcastle-bold sandcastle-text-capitalization room-details-common-div">About <%= @unit_info['name'] %></div>
          <div class="sandcastle-text-color common-font-11">
            <%= @unit_info['descriptions']['text'][2]['description'] %>
          </div></div>
        <div class="col-md-3 want-to-chat-container">
          <div class="form-group">
            <label class="want-to-chat-header">NEED HELP?</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label><a class="font-color-black" href="tel:(888) 328-8491"> (888) 328-8491</a></label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label><a class="font-color-black" href="mailto:info@gooceano.com">  info@gooceano.com</a></label>
          </div>
        </div>
        <div class="room-details-feature-section-main float-left full-width">
          <div class="booking-receipt-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Features</div>
          <div class="col-sm-9">
            <% if !@unit_info['amenities'].blank? %>
              <% @unit_info['amenities'].each do |amenity| %>
                <% if amenity[1] == true %>
                  <div class="feature-section-column-main float-left">
                    <div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                    <div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">
                      <%= amenity[0].gsub('_', ' ') %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="receipt-booking-details-section float-left full-width room-image-gallery">
          <div class="feature-list-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Gallery</div>
          <div class="room-gallery">
            <div class="our-facility-room-section">
              <div class="padding-left-bottom-2-px property-img"><img src="<%= @unit_info['descriptions']['images'][0]['formats'][2]['url']%>"></div>
              <div class="padding-left-bottom-2-px property-img"><img src="<%= @unit_info['descriptions']['images'][1]['formats'][2]['url']%>"></div>
              <div class="padding-left-bottom-2-px property-img"><img src="<%= @unit_info['descriptions']['images'][2]['formats'][2]['url']%>"></div>
              <div class="padding-left-bottom-2-px property-img"><img src="<%= @unit_info['descriptions']['images'][3]['formats'][2]['url']%>"></div>
              <div class="padding-left-bottom-2-px property-img"><img src="<%= @unit_info['descriptions']['images'][4]['formats'][2]['url']%>"></div>
              <div class="padding-left-bottom-2-px property-img"><img src="<%= @unit_info['descriptions']['images'][5]['formats'][2]['url']%>"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="first-section-divider"></div>

  <div class="room-details-map-section">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMeOtBKPOmvtkmNo6TOxxxbOh_KtaCdiA"></script><div style="overflow:hidden;height:300px;width:100%;"><div id="gmap_canvas" style="height:300px;width:100%;"><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:8,center:new google.maps.LatLng(<%= @unit_info['position']['latitude']%>,<%= @unit_info['position']['longitude']%>),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(<%= @unit_info['position']['latitude']%>,<%= @unit_info['position']['longitude']%>)});infowindow = new google.maps.InfoWindow({content:"<b>SandCastle</b><br/>Puerto Pe&ntilde;asco Sonora, Mexico<br/> " });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
  </div>
  <div class="section-divider room-details-section-divider">
  </div>
  <div class="text-center room-details-map-section sandcastle-bold sandcastle-text-capitalization common-font-18">
    Customer Review
  </div>

<div class="section-divider room-details-section-divider">
  <img src="../assets/divider.png" />
</div>

  <div class="layout-container">
  <div class="customer-review-section-main">
    <div class="customer-review-section-upper float-left">
      <div class="room-details-reviewer-avatar float-left"> <img src="../assets/reviewer_1.png"></div>
      <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
      <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
      <div class="room-details-reviewer-rating float-left">
        <div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
        </div>
      </div>
    </div>
    <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
  </div>
    </div>
  <div class="section-divider customer-review-divider">
    <span></span>
  </div>
  <div class="layout-container">
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="../assets/reviewer_2.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">jane Smith</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">August 28th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"Great location, had a very relaxing visit"</div>
    </div>
  </div>
  <div class="section-divider room-details-section-divider">
  </div>
  <div class="hotel-list-slider-main sandcastle-text-font-montserrat">
    <% @units.each do |unit| %>
      <% if !unit['descriptions']['text'][2]['description'].blank? && unit['descriptions']['text'][2]['description'].length > 0 %>
        <div class="col-sm-3 slide">
          <div class="hotel-image"><img src="<%= unit['descriptions']['images'][0]['formats'][2]['url'] %>"></div>
          <div class="hotel-details-except-image float-left">
            <div class="hotel-rate float-left room-details-common-div sandcastle-text-capitalization sandcastle-text-color">FROM <span class="sandcastle-bold hotel-price-value">
              <% if !unit[:price].blank? %>
                <%= "$#{unit[:price]}" %>
              <% else %>
                <%= "$#{unit['stay_ranges'].first['price']}" %>
              <% end %>
            </span></div>
            <div class="hotel-rating-review float-left full-width"><div class="col-sm-6"><div class="roomdetails-page-reviewer-rating common-font-12">
              <%= unit['occupancy'] %> Occupancy
            </div></div><div class="col-sm-6 float-left sandcastle-text-color"><%= unit['reviews'].count %> Reviews</div></div>
            <div class="hotel-about-section float-left room-details-common-div full-width">
              <div class="col-sm-12 sandcastle-bold sandcastle-text-capitalization common-font-15 room-details-common-div"><%= truncate(unit['name'], :length => 20) %></div>
              <div class="col-sm-12 common-font-9 sandcastle-text-color luxury-text-details"><%= truncate(unit['descriptions']['text'][2]['description'], :length => 100)%></div>
            </div>
            <div class="hotel-book-view-map room-details-common-div float-left full-width">
              <div class="col-sm-6">
                <input type="button" class="room-details-book-button sandcastle-bold sandcastle-text-capitalization" value="Book">
              </div>
              <div class="col-sm-6 sandcastle-bold sandcastle-text-capitalization view-on-map-link">
                <a href="#"><img src="../assets/map_fa_icon.png"> View on Map</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="section-divider room-details-section-divider">
  </div>
</section>