<section class="site-header full-background <%= content_for :header_class %>">
  <div>
    <div class="homepage-main-bar">
      <div class="icons-div">
        <i class="fa fa-facebook fa-lg margin-right-10"></i>
        <i class="fa fa-twitter fa-lg margin-right-10"></i>
        <i class="fa fa-instagram fa-lg"></i>
      </div>
      <div class="login-register-div">
        <span>Login</span>
        <span class="text-divider"></span>
        <span> Register</span>
      </div>
    </div>

    <nav class="navbar navbar-inverse navbar-static-top test" role="navigation">
      <div class="container layout-container">
        <div class="brand-container">
          <a class="brand" href="/">
            <img class="hacienda-logo" src="assets/sandcastel-main-logo.png">
          </a>
        </div>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse center-heading" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav main-navigation">
            <li><a href="/" class="homepage hacienda-hover-color padding-top-by-7">HOME</a></li>
            <li><a href="/accommodations" class="reserve-highlight hacienda-hover-color padding-top-by-7">FIND A RENTAL</a></li>
            <li><a href="/about" class="about-highlight hacienda-hover-color padding-top-by-7">ATTRACTIONS</a></li>
            <li><a href="/contact" class="contact-highlight hacienda-hover-color padding-top-by-7">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="hero <%= content_for :hero_class %>">
      <div class="layout-centered padded-top">
        <h1 class="<%= content_for :bottom_border %> heading-large margin-top-by-5"><%= yield(:hero_title) %></h1>
        <% if content_for?(:lede) %><p class="lede"><%= yield :lede %></p><% end %>
      </div>
    </div>
  </div>
</section>
